    .image_container{
        /* border: 1px solid black;
        border-radius: 12px; */
        width: 250px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 480px;
        margin-top: 90px;
        background-color: black;

    }
    

    .image_1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: black;
    }
    .Selected_head{
        margin-left: 460px;
        margin-top: 20px;
    }

    .Button{
        margin-left: 550px;
        padding: 12px;
        border-radius: 5px;
        color: white;
        width: 110px;
    }
  